.App .FormHeader {
  text-align: center;
}
.FormBody {
  display: flex;
  justify-content: center;
}
.container {
  width: 500px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 10px 0px;
  border-radius: 20px;
  border: 2px solid black;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.registerbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  margin: 8px 150px;
  border-radius: 20px;
  cursor: pointer;
  width: 200px;
  font-size: 20px;
}
.registerbtn:hover {
  outline: none;
}
.form-Data {
  background-color: aqua;
  display: flex;
  justify-content: center;
}
